
*.cfe

*.cfs

*.fdt

*.si

*.fnm

*.nvd

*.fdx

*.nvm

*.tvd

*.tvx

*.tim

*.tip

index/_1k_Lucene41_0.pos

index/_1k_Lucene41_0.doc

index/_4i_Lucene41_0.doc

index/_4i_Lucene41_0.pos

index/_18_Lucene41_0.pos

index/_18_Lucene41_0.doc

index/segments.gen

index/segments_1

*.class

*.class

*.class

bin/SearchEngine/Assassin/RetrievalModel.class

bin/SearchEngine/Assassin/QryEval.class

bin/SearchEngine/Assassin/RetrievalModelUnrankedBoolean.class

bin/SearchEngine/Assassin/InvList$DocPosting.class

bin/SearchEngine/Assassin/InvList.class

bin/SearchEngine/Assassin/QryopIlTerm.class

*.in
