
*.cfe

*.cfs

*.fdt

*.si

*.fnm

*.nvd

*.fdx

*.nvm

*.tvd

*.tvx

*.tim

*.tip

index/_1k_Lucene41_0.pos

index/_1k_Lucene41_0.doc

index/_4i_Lucene41_0.doc

index/_4i_Lucene41_0.pos

index/_18_Lucene41_0.pos

index/_18_Lucene41_0.doc

index/segments.gen

index/segments_1

*.class

*.in

bin/SearchEngine/Assassin/Makefile

bin/SearchEngine/Assassin/Sample.param

HW1-queries-UB.teIn

AssassinSE.iml

.idea/*

*.doc

*.pos

index1/segments_1

index1/segments.gen

index2/segments_1

index2/segments.gen

src1/*

*.perl

*.teln

output/dummy

*.txt

query/testQueries

query/trainingqueries

query/relevanceDocs

query/PageRank
